.item {
  width: 540px;
  margin: 0 auto;
}

.item > textarea {
  float: left;
  width: 400px;
  overflow: hidden;
}

.item > select {
  float: right;
  width: 120px;
}

.result > textarea {
  background-color: #eee;
}
